%h1 Listing channels

%table
  %tr
    %th Feed url
    %th Title
    %th Description
    %th Suscription
    %th Url
    %th
    %th
    %th

  - @channels.each do |channel|
    %tr
      %td= channel.feed_url
      %td= channel.title
      %td= channel.description
      %td= channel.suscription_id
      %td= channel.url
      %td= link_to 'Show', channel
      %td= link_to 'Edit', edit_channel_path(channel)
      %td= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Channel', new_channel_path
