%p#notice= notice

%p
  %b Feed url:
  = @channel.feed_url
%p
  %b Title:
  = @channel.title
%p
  %b Description:
  = @channel.description
%p
  %b Suscription:
  = @channel.suscription_id
%p
  %b Url:
  = @channel.url

= link_to 'Edit', edit_channel_path(@channel)
\|
= link_to 'Back', channels_path
