= simple_form_for(resource, :html => {:class => 'form-horizontal' }) do |form|
  = form.input :first_name
  = form.input :last_name
  = form.input :login
  = form.input :email
  = form.input :password
  = form.input :password_confirmation
  = form.wrapped_button :submit

