%p#notice= notice


%h1
  %a.btn.btn-small(title="Add star"){:href => add_star_article_path(@article) }
    %i.icon-star(alt="Star")
  = @article.title

-# {:class => [@item.type, @item == @sortcol && [:sort, @sortdir]] }  ; url_for(@article, :add_star => true


%p
  %b Description:
  = @article.description
  %span= link_to "(see full text)", @article.link
%p
  %b Published date:
  = @article.published_date

#comments
  - unless @comments.empty?
    %h2 Comments
    %ul.unstyled
      - @comments.each do |comment|
        %li
          %h3=  comment.title
          %p= comment.comment
          %span= comment.user.first_name
  %h3 Add a new comment
  = semantic_form_for [@article, @comment] do |f|
    = f.input :title
    = f.input :comment, :input_html => { :rows => 10 }
    = f.action :submit

= link_to 'Back', :back

