%p#notice= notice

%p
  %b Feed url:
  = @suscription.feed_url
%p
  %b Title:
  = link_to @suscription.title, @suscription.url
%p
  %b Description:
  = @suscription.description

%h2 Articles
%ol
  - @articles.each do |article|
    %li.article
      %h3= link_to article.title, article
      %p=  article.description





= link_to 'Edit', edit_suscription_path(@suscription)
\|
= link_to 'Back', suscriptions_path

