%h2 Sign in
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  = f.input :login_or_email, :required => false, :autofocus => true
  = f.input :password, :required => false
  = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
  = f.wrapped_button :submit, "Sign in"
= render "devise/shared/links"

