= link_to "Reader", root_path, :class => 'brand'
- if user_signed_in?
  %ul.nav.pull-right
    %li
      = link_to 'Logout', destroy_user_session_path, :method=>'delete'
    %li
      = link_to 'Edit account', edit_user_registration_path
  %p.navbar-text.pull-right
    = current_user.login
    - if current_user.avatar.url
      = image_tag current_user.avatar.small_thumb.url, size: "30x30", alt: 'avatar', class: 'avatar'
- else
  %ul.nav
    %li
      = link_to 'Login', new_user_session_path
    %li
      = link_to 'Sign up', new_user_registration_path

